@import 'nib'

WHITE = #E1FAFA

DARK_GRAY = lighten(#252929, 10%)
GRAY = #BFC3C8
LIGHT_GRAY = rgb(224, 225, 226)

GREEN = #35B44F
DARK_GREEN = darken(#35B44F, 60%)
LIGHT_GREEN = lighten(GREEN, 20%)

BLUE = #2A3749

PAGE_WIDTH = 1150px
ARTICLE_WIDTH = 840px
HERO_HEIGHT = 420px

PHONE = 'only screen and (max-width: 899px)'
DESKTOP = 'only screen and (min-width: 900px)'

PHONE_PADDING = 10px

H1_FONT_SIZE = 45px
H2_FONT_SIZE = 30px
H3_FONT_SIZE = 24px
H4_FONT_SIZE = 20px
H5_FONT_SIZE = 16px

mobile_font_shrink(size)
  size * 0.8

ellipsis()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

vertical-align()
  position: relative
  top: 50%
  transform: translateY(-50%)

.clearfix:before, .clearfix:after
  content: ''
  display: table

.clearfix:after
  clear: both

*, *:after, *:before
  box-sizing: border-box

html
  margin: 0
  padding: 0

body
  margin: 0
  padding: 0

  font-family: 'Source Sans Pro', sans-serif
  color: DARK_GRAY
  background-color: #f4f5f6
  font-size: 15px

a:link, a:visited
  color: darken(GREEN, 10%)
  text-decoration: none

a:hover, a:active
  text-decoration: underline

h1, h2, h3, h4, h5
  font-family: 'Asap', sans-serif
  font-weight: 700
  line-height: 1.5em

h1
  font-size: H1_FONT_SIZE

  @media PHONE
    font-size: mobile_font_shrink(H1_FONT_SIZE)
h2
  font-size: H2_FONT_SIZE

  @media PHONE
    font-size: mobile_font_shrink(H2_FONT_SIZE)

h3
  font-size: H3_FONT_SIZE

  @media PHONE
    font-size: mobile_font_shrink(H3_FONT_SIZE)

h4
  font-size: H4_FONT_SIZE

  @media PHONE
    font-size: mobile_font_shrink(H4_FONT_SIZE)

h5
  font-size: 16px

  @media PHONE
    font-size: mobile_font_shrink(H5_FONT_SIZE)

p, ul, ol
  font-size: 18px
  line-height: 1.5em

  code
    background-color: LIGHT_GRAY
    border-radius: 3px
    padding: 0.05em 0.25em
    margin: 0 0.05em
    font-size: 90%

code
  font-family: 'Source Code Pro', monospace
  word-break: break-word
  white-space: pre-wrap

.hljs
  font-size: 16px
  padding: 1em !important // overrides default style
  border-radius: 3px
  margin-bottom: -15px

  @media PHONE
    font-size: 14px

iframe, img
  max-width: 100%

blockquote
  border-left: 5px solid rgba(GREEN, 70%)
  padding: 0.5em
  padding-left: 3.25em
  margin-left: 1.5em
  font-style: italic

  p:first-child
    margin-top: 0.5em

  p:last-child
    margin-bottom: 0.5em

  &:before
    content: '\201C'
    font-style: normal
    font-size: 100px
    position: absolute
    color: rgba(GRAY, 50%)
    z-index: -99
    margin-left: -0.45em
    margin-top: -0.3em

  cite
    display: block
    text-align: right
    margin-top: -10px
    margin-bottom: -10px

//
// BUTTON
//

.btn, a.btn:link, a.btn:visited
  background-color: GREEN
  border-radius: 6px
  display: inline-block
  color: #FFF
  padding: 0.6em 0.7em
  font-weight: 700

  @media PHONE
    font-size: 120%
    margin-bottom: 5px
    width: 80%

.btn:hover, a.btn:hover, a.btn:active
  background-color: LIGHT_GREEN
  text-decoration: none

.btn.large
  font-size: 180%

.center
  text-align: center

.featuredCenter
  text-align: center
  margin: 1.5em 0
  .btn
    margin: 0 0.75em


//
// LAYOUT
//

.headerWrap
  background-color: #FFF
  border-bottom: 1px solid rgba(#000, 0.1)

.header
  height: 65px
  width: 100%
  max-width: PAGE_WIDTH
  margin: 0 auto
  padding-left: PHONE_PADDING
  padding-right: PHONE_PADDING

  @media PHONE
    height: auto
    text-align: center

  h1, a
    font-family: 'Asap', sans-serif

  h1
    float: left
    font-size: 2.1em
    line-height: 2.1em
    margin: 0
    a:link, a:visited
      text-decoration: none
      color: DARK_GRAY

    @media PHONE
      float: none

nav
  float: right

  @media PHONE
    float: none
    display: none

  @media DESKTOP
    vertical-align()

  a:link, a:visited
    color: DARK_GRAY
    font-size: 120%
    font-weight: 700
    text-decoration: none
    display: inline-block
    margin-left: 35px

    @media PHONE
      display: block
      margin-left: 0
      margin: 5px

  a:hover, a:active
    color: GREEN

.footerWrap
  background-color: BLUE

footer
  width: 100%
  max-width: PAGE_WIDTH
  margin: 4em auto 0 auto
  padding: 1em 4em 4em 4em
  font-family: 'Asap', sans-serif
  clearfix()

  @media PHONE
    margin: 0 auto

  section
    width: 25%
    float: left
    color: #FFF

    @media PHONE
      float: none
      width: 100%

  a:link, a:visited, div
    display: block
    color: white
    font-size: 20px
    margin: 5px 0

article
  width: ARTICLE_WIDTH
  margin: 0 auto

  @media PHONE
    width: auto
    padding: 0 PHONE_PADDING

  h1
    text-align: center

  h1:after
    content: ''
    display: block
    width: 100px
    height: 5px
    background: GRAY
    margin: 5px auto

//
// HERO
//

#hero
  background-color: BLUE

  @media DESKTOP
    height: HERO_HEIGHT
    margin: auto

  .is-seed &
    background-color: DARK_GREEN
    transition: 0.5s 0.5s background-color ease-in-out

#svgWrap
  width: 100%
  max-width: PAGE_WIDTH

  @media DESKTOP
    height: HERO_HEIGHT
    position: absolute

  .torrent-graph
    width: 50%
    height: 100%

    @media PHONE
      width: 90%
      margin: auto 0px

  svg
    display: block

    .node
      cursor: pointer

      .text
        fill: rgba(WHITE, 60%)
        text-anchor: middle
        pointer-events: none
        font-family: 'Source Sans Pro', sans-serif

#videoWrap
  width: 100%
  min-height: 100px
  max-width: PAGE_WIDTH
  margin: 0 auto

  @media DESKTOP
    height: HERO_HEIGHT

  .video
    border-radius: 3px
    min-height: 100px
    @media DESKTOP
      float: right
      max-height: 295px
      border: 1px solid rgba(#FFF, 0.4)
      max-width: 60%
      overflow: hidden
      vertical-align()
    opacity: 0
    &.playing
      opacity: 1

  video
    min-height: 100px
    border-radius: 2px
    width: 100%

#progressBar
  height: 5px
  width: 0%
  background-color: GREEN
  transition: width 0.4s ease-in-out

  @media DESKTOP
    position: absolute

#statusTop, #statusBottom
  width: 100%
  font-size: 17px
  text-align: center
  color: #FFF
  z-index: 10

  @media DESKTOP
    position: absolute

  code
    font-size: 90%
    font-weight: 700
    margin-left: 3px
    margin-right: 3px
    border-bottom: 1px dashed rgba(#FFF, 0.3)

#statusTop
  margin: 22px 0

  @media PHONE
    padding: 22px 0px 0px 0px

#statusBottom
  @media PHONE
    padding: 0px 0px 22px 0px
  @media DESKTOP
    margin-top: 376px

a#torrentLink:link, a#torrentLink:visited
  text-decoration: none
  border-bottom: 1px solid GREEN

a#torrentLink:hover, a#torrentLink:active
  color: LIGHT_GREEN

.show-seed
  display: none

body.is-seed .show-seed
  display: inline

body.is-seed .show-leech
  display: none

//
// NEW RELEASE LINK
//

.new-release
  display: inline-block
  position: relative

@media DESKTOP
  .new-release::after
    content: 'NEW'
    font-size: 10px
    position: absolute
    top: -10px
    right: -20px
    padding: 2px 4px
    background-color: GREEN
    color: #fff
    border-radius: 5px

  .new-release:hover::after
    background-color: LIGHT_GREEN


//
// WEBTORRENT DESKTOP
//

.webtorrent-desktop-hero
  background-color: #2a3749
  margin: 0
  padding: 3em 0 2em
  color: #fff
  h1
    margin: 0
  h2
    margin: 0
  @media PHONE
    padding-left: PHONE_PADDING
    padding-right: PHONE_PADDING

.downloads
  text-align: center
  margin-bottom: 0

  .download
    display: inline-block
    text-align: center
    background-color: GREEN
    width: 160px
    height: 130px
    margin: 15px
    padding: 20px 15px
    border: none
    border-radius: 5px
    cursor: pointer
    color: white

  .download:hover
    text-decoration: none
    background-color: LIGHT_GREEN

.other-downloads
  text-align: center
  font-size: 14px
  margin: 10px 0 0 0
  a
    color: #CCC

  span:not(:last-child)::after
    content: ' | '
    margin-left: 5px
    margin-right: 5px

.feature-block
  &:nth-child(even)
    background: LIGHT_GRAY
  &.center
    text-align: center
    p
      margin-top: 0

  h1, h2, h3, h4, h5
    margin-top: 0.4em

  article
    clear: both
    width: 100%
    max-width: 1000px
    margin: 0 auto
    font-size: 22px
    padding-top: 3em
    padding-bottom: 3em
    line-height: 33px
    overflow: auto

    &:first-child
      padding-top: 2em

      @media PHONE
        padding-top: 1em

    @media PHONE
      padding-top: 1em
      padding-bottom: 1em

    ul > li
      margin: 11px 0

  ul, p
    font-size: 22px
    line-height: 33px

    @media PHONE
      font-size: 18px
      line-height: 26px


.feature-item
  font-size: 15px
  float: left
  display: inline-block
  width: 300px
  max-width: calc(30% - 34px)
  margin: 0 25px
  &:first-of-type
    margin-left: 0
  &:last-of-type
    margin-right: 0
  img
    max-width: 300px
    height: auto
    padding: 4px
    background-color: #fff
    border: 1px solid #ddd
    border-radius: 4px
  h3
    font-size: 1.5em
    margin: 0
  p
    font-size: 1em
    line-height: 1.5em

  @media PHONE
    float: none
    text-align: center
    margin-left: 0
    margin-right: 0
    width: 100%
    max-width: 100%
    margin-bottom: 2em

.image-right
  float: right
  margin-left: 42px
  max-width: 50%

.image-left
  float: left
  margin-right: 42px
  max-width: 50%

@import '../node_modules/highlight.js/styles/zenburn.css'
