@import '../node_modules/highlight.js/styles/zenburn.css'

@import 'nib'

WHITE = #E1FAFA

DARK_GRAY = lighten(#252929, 10%)
GRAY = #BFC3C8
LIGHT_GRAY = rgb(224, 225, 226)

GREEN = #35B44F
DARK_GREEN = darken(#35B44F, 60%)
LIGHT_GREEN = lighten(GREEN, 20%)

BLUE = #2A3749

PAGE_WIDTH = 1150px
ARTICLE_WIDTH = 840px
HERO_HEIGHT = 420px

ellipsis()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

vertical-align()
  position: relative
  top: 50%
  transform: translateY(-50%)

.clearfix:before, .clearfix:after
  content: ''
  display: table

.clearfix:after
  clear: both

*, *:after, *:before
  box-sizing: border-box

html
  margin: 0
  padding: 0

body
  margin: 0
  padding: 0

  font-family: 'Source Sans Pro', sans-serif
  color: DARK_GRAY
  background-color: #f4f5f6
  font-size: 15px

a:link, a:visited
  color: darken(GREEN, 10%)
  text-decoration: none

a:hover, a:active
  text-decoration: underline

h1, h2, h3, h4, h5
  font-family: 'Asap', sans-serif
  font-weight: 700
  line-height: 1.5em
h1
  font-size: 3em
h2
  font-size: 2em
h3
  font-size: 1.6em
h4
  font-size: 1.3em
h5
  font-size: 1.1em

p, ul, ol
  font-size: 1.25em
  line-height: 1.5em

  code
    background-color: LIGHT_GRAY
    border-radius: 3px
    padding: 0.05em 0.25em
    margin: 0 0.05em
    font-size: 90%

code
  font-family: 'Source Code Pro', monospace

.hljs
  font-size: 16px
  padding: 1em
  border-radius: 3px
  margin-bottom: -15px

iframe, img
  max-width: 100%

blockquote
  border-left: 5px solid rgba(GREEN, 70%)
  padding: 0.5em
  padding-left: 3.25em
  margin-left: 1.5em
  font-style: italic

  p:first-child
    margin-top: 0.5em

  p:last-child
    margin-bottom: 0.5em

  &:before
    content: '\201C'
    font-style: normal
    font-size: 100px
    position: absolute
    color: rgba(GRAY, 50%)
    z-index: -99
    margin-left: -0.45em
    margin-top: -0.3em

  cite
    display: block
    text-align: right
    margin-top: -10px
    margin-bottom: -10px

//
// BUTTON
//

.btn, a.btn:link, a.btn:visited
  background-color: GREEN
  border-radius: 6px
  display: inline-block
  color: #FFF
  padding: 0.6em 0.7em
  font-weight: 700

.btn:hover, a.btn:hover, a.btn:active
  background-color: LIGHT_GREEN
  text-decoration: none

.btn.large
  font-size: 180%

.center
  text-align: center

.featuredCenter
  text-align: center
  margin: 1.5em 0
  .btn
    margin: 0 0.75em

//
// LAYOUT
//

.headerWrap
  background-color: #FFF
  border-bottom: 1px solid rgba(#000, 0.1)

header
  height: 65px
  width: PAGE_WIDTH
  margin: 0 auto

  h1, a
    font-family: 'Asap', sans-serif

  h1
    float: left
    font-size: 2.1em
    line-height: 2.1em
    margin: 0
    a:link, a:visited
      text-decoration: none
      color: DARK_GRAY

nav
  float: right
  vertical-align()

  a:link, a:visited
    color: DARK_GRAY
    font-size: 120%
    font-weight: 700
    text-decoration: none
    display: inline-block
    margin-left: 40px

  a:hover, a:active
    color: GREEN

.footerWrap
  background-color: BLUE

footer
  width: PAGE_WIDTH
  margin: 4em auto 0 auto
  padding: 1em 4em 4em 4em
  font-family: 'Asap', sans-serif
  clearfix()

  section
    width: 25%
    float: left
    color: #FFF

  a:link, a:visited, div
    display: block
    color: white
    font-size: 20px
    margin: 5px 0

article
  width: ARTICLE_WIDTH
  margin: 0 auto

  h1
    text-align: center

  h1:after
    content: ''
    display: block
    width: 100px
    height: 5px
    background: GRAY
    margin: 5px auto

//
// HERO
//

#hero
  background-color: BLUE
  height: HERO_HEIGHT
  margin: auto

  .is-seed &
    background-color: DARK_GREEN
    transition: 0.5s 0.5s background-color ease-in-out

#svgWrap
  position: absolute
  width: 100%

  svg
    display: block

    .node
      cursor: pointer

      .text
        fill: rgba(WHITE, 60%)
        text-anchor: middle
        pointer-events: none
        font-family: 'Source Sans Pro', sans-serif

#videoWrap
  width: PAGE_WIDTH
  height: HERO_HEIGHT
  margin: 0 auto

  .video
    border: rgba(#FFF, 0.4)
    width: 60%
    vertical-align()
    float: right
    height: 295px
    border-radius: 3px
    overflow: hidden
  video
    border-radius: 2px
    width: 100%

#progressBar
  height: 5px
  width: 0%
  background-color: GREEN
  transition: width 0.4s ease-in-out
  position: absolute

#statusTop, #statusBottom
  position: absolute
  width: 100%
  font-size: 17px
  text-align: center
  color: #FFF
  z-index: 10

  code
    font-size: 90%
    font-weight: 700
    margin-left: 3px
    margin-right: 3px
    border-bottom: 1px dashed rgba(#FFF, 0.3)

#statusTop
  margin-top: 22px

#statusBottom
  margin-top: 376px

a#torrentLink:link, a#torrentLink:visited
  text-decoration: none
  border-bottom: 1px solid GREEN

a#torrentLink:hover, a#torrentLink:active
  color: LIGHT_GREEN

.show-seed
  display: none

body.is-seed .show-seed
  display: inline

body.is-seed .show-leech
  display: none

