@import 'nib'

ellipsis()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

*
  box-sizing: border-box

html, body
  font-family: sans-serif
