extends layout

block body
  .webtorrent-desktop-hero
    h1(align='center')
      img(src='/img/WebTorrent.png', alt='WebTorrent', width='200', height='200')
      br
      | WebTorrent Desktop
    h2(align='center') Streaming torrent app

    include includes/desktop-download-links

  .webtorrent-desktop
    .feature-block.center
      article
        h2 WebTorrent Desktop is for streaming torrents.
        img(src='/img/screenshot-player2.png', alt='WebTorrent Desktop - Player with controls')
        p
          | Whether it's video from the
          = ' '
          a(href='https://archive.org') Internet Archive
          | , music from
          = ' '
          a(href='https://creativecommons.org/music-communities/') Creative Commons
          | , or audiobooks from
          = ' '
          a(href='https://librivox.org/') Librivox
          | , you can play it right away. You don't have to wait for it to finish downloading.
    .feature-block
      article
        img.image-left(src='/img/network.png', alt='WebTorrent - network of peers')
        h3 WebTorrent Desktop connects to both BitTorrent and WebTorrent peers.
        p
          | It can talk to peers running
          = ' '
          a(href='https://www.transmissionbt.com/') Transmission
          |  or
          = ' '
          a(href='http://www.utorrent.com/') uTorrent
          | , and it can also talk to web pages like
          = ' '
          a(href='https://instant.io') instant.io
          | .
    .feature-block
      article
        img.image-right(src='/img/screenshot-main.png', alt='WebTorrent Desktop - Main list of torrents')
        h3 WebTorrent Desktop is in beta.
        p
          | We think it's pretty sweet, but we're still working on it. Try it out and let us know what you think!
        h3 It's also 100% open source.
        p
          | All the source code is on
          = ' '
          a(href='https://github.com/webtorrent/webtorrent-desktop') Github
          | . If you run into a bug, please tell us about it by creating an
          = ' '
          a(href='https://github.com/webtorrent/webtorrent-desktop/issues') issue
          | .
    .feature-block
      article
        h2 Features
        ul
          li
            strong Lightweight, fast torrent app
          li
            strong Beautiful user experience
          li
            strong Free, non-commercial, ad-free, and <a href="https://github.com/webtorrent/webtorrent-desktop">open source</a>
          li
            strong Instantly stream video and audio
            ul
              li WebTorrent fetches file pieces from the network on demand for instant playback.
              li
                | Even when the file isn't fully downloaded, seeking still works.
                br
                | (Seeking just reprioritizes which pieces are fetched from the network.)
          li
            strong Stream videos to AirPlay, Chromecast, and DLNA
          li
            strong
              | Based on the most popular and comprehensive torrent package in Node.js,
              = ' '
              a(href='https://www.npmjs.com/package/webtorrent')
                code webtorrent
          li
            strong Full-featured, but bloat free
            ul
              li Opens magnet links and .torrent files
              li Drag-and-drop makes adding or creating torrents easy
              li Discovers peers via tracker servers, DHT (Distributed Hash Table), and peer exchange
              li Supports the WebTorrent protocol for connecting to WebRTC peers (i.e. web browsers)

    .feature-block
      article
        h2 Featured Torrents

        .feature-item
          a(href='https://archive.org/details/gd1975-06-17.aud.unknown.87560.flac16')
            img(src='/img/grateful-dead.png' alt='The Grateful Dead at Winterland Arena')
            h3 The Grateful Dead at Winterland Arena
          p Complete audio recordings of this iconic 1975 concert.
          p
            strong
              a(href='https://archive.org/download/gd1975-06-17.aud.unknown.87560.flac16/gd1975-06-17.aud.unknown.87560.flac16_archive.torrent', download='GratefulDeadWinterland.torrent') Download Torrent
          p
            a(href='https://archive.org/details/etree') See the whole concert collection
            |  at the Internet Archive.

        .feature-item
          a(href='http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-00sc-introduction-to-computer-science-and-programming-spring-2011/')
            img(src='/img/intro-to-cs.png' alt='Introduction to Computer Science and Programming')
            h3 Introduction to Computer Science and Programming
          p
            | This is the first class in MIT's Electrical Engineering and Computer Science major.
            | Recorded in Spring 2011. Taught by Professor John Guttag.
          p
            strong
              a(href='https://archive.org/download/MIT6.00SCS11/MIT6.00SCS11_archive.torrent', download='MIT-6.00-IntroToComputerScience.torrent') Download Torrent
          p
            a(href='http://ocw.mit.edu/index.htm') See all classes
            |  available from MIT OpenCourseWare.

        .feature-item
          a(href='https://archive.org/details/art_of_war_librivox')
            img(src='/img/art-of-war.png' alt='The Art of War')
            h3 Sun Tzu — The Art of War
          p The original book of strategy, conflict, and guile. Translated by Lionel Giles. Read by Moira Fogarty.
          p
            strong
              a(href='https://archive.org/download/art_of_war_librivox/art_of_war_librivox_archive.torrent', download='ArtOfWar.torrent') Download Torrent
          p
            a(href='https://archive.org/details/librivoxaudio') See all free and open source audiobooks
            |  from Librivox, available at the Internet Archive.

    .feature-block
      article
        img(src='/img/screenshot-player3.png' alt='WebTorrent Desktop - stream torrents')
        h1.minimal Give WebTorrent Desktop a try today!
        include includes/desktop-download-links

  script.
    var $downloadLinks = Array.from(document.querySelectorAll('a.download'))
    $downloadLinks.forEach(function ($link) {
      $link.addEventListener('click', function () {
        console.log('Download link clicked!')
        window.ga('send', 'event', 'app', 'download')
      })
    })
