extends layout

block body
  article
    :markdown
      # WebTorrent Documentation

    include:md ../../node_modules/webtorrent/docs/quick-start.md
    include:md ../../node_modules/webtorrent/docs/api.md
