extends layout

block body
  div(id='pre', style='width:100%; background-color:#1F6C83; height:100%;').
      <div class='fl spinner1'>
          <div class='double-bounce1'></div>
          <div class='double-bounce2'></div>
      </div>
  div#content.
      <div id='particles' class='section active' data-anchor='section1'>
          <div class='intro' id='s1'>
              <h1 id='maintitle'>WebTorrent</h1>
              <p>Torrent in your browser.</p>
              <!--a href='#s2' class='btn' style='border-radius: 6px;'>About Webtorrent</a-->
              <a href='https://github.com/feross/webtorrent' style='border-radius: 6px;' class='btn'>View on Github</a>
          </div>
      </div>
      <!-- <div class='section' data-anchor='section2' id='s2'> -->
      </div>
