doctype html
html(lang='en')
  head
    title= rawTitle || (title && (title + ' - WebTorrent')) || 'WebTorrent'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/style.css', charset='utf-8')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Asap:400,700')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Source+Code+Pro:400,700')

    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#b91d47')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
    meta(name='theme-color', content='#ffffff')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-3898076-19', 'auto');
      ga('send', 'pageview');

  body(class=locals.cls || '')
    .headerWrap
      header.header
        h1: a(href='/') WebTorrent
        nav
          a(href='/intro') Get Started
          a(href='/docs') Docs
          a(href='/faq') FAQ
          a(href='/desktop', class='new-release') WebTorrent Desktop
          a(href='https://instant.io', target='_blank') Instant.io
          a.btn(href='https://github.com/feross/webtorrent', target='_blank') GitHub
    main
      block body
    .footerWrap
      footer
        section
          h3 Learn
          a(href='/intro') Get Started
          a(href='/docs') Docs
          a(href='/faq') FAQ

        section
          h3 Connect
          a(href='https://github.com/feross/webtorrent') GitHub
          a(href='https://twitter.com/WebTorrentApp') Twitter

        section
          h3 Support
          a(href='https://github.com/feross/webtorrent/issues') Open an issue
          a(href='https://gitter.im/feross/webtorrent') Chat in Gitter
          div <strong>#webtorrent</strong> on freenode (IRC)

        section
          h3 Star on GitHub
          iframe(src='https://ghbtns.com/github-btn.html?user=feross&repo=webtorrent&type=star&count=true&size=large', frameborder='0', scrolling='0', width='160px', height='30px')

    script(src='/bundle.js')
